
{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
 
<style>
.swiper {
  width: 99vw;
  height: 300px;
  background-color : black;
}

.swiper-slide{
  background-color : blue;
  display : flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
  gap : 0.5vw;
}

.swiper-slide>h5{
  font-size: 20px;
  text-align: center;
  margin-block : 10px;
}

.swiper-slide>p{
  margin-inline : 5px;
  margin-block : 0;
}
</style>

{% for service in services %}
    <div class="service-wrapper">
      <h5>{{service.name}}</h5>
      <p>{{service.description}}</p>
      <p>{{service.picture_src}}</p>
    </div>
  {% endfor %}
  <div>-------------------------</div>
{% for testimonial in testimonials %}
    <div class="testimonial-wrapper">
      <h5>{{testimonial.name}}</h5>
      <h5>{{testimonial.surname}}</h5>
      <p>{{testimonial.message}}</p>
      <p>{{testimonial.note}}</p>
    </div>
  {% endfor %}

<!-- Slider main container -->

<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
  {% for car in latest_cars %}
    <div class="swiper-slide">
      <h5>{{car.name}}</h5>
      <p>{{car.description}}</p>
    </div>
  {% endfor %}

  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  {# <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div> #}

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>

const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  {# navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  }, #}

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
   spaceBetween: 25,
   slidesPerView : 5,
   slidesPerGroup : 5,

  autoplay: {
    delay : 2000,
    disableOnInteraction : false,
    pauseOnMouseEnter: true,
  }
});

</script>

{% endblock %}