{% extends 'base.html.twig' %}

{% block title %}{{car.brand.brand}} {{car.name}} {% endblock %}

{% block body %}
    <h1>Car</h1>

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">

    <div class="carousel-item ">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="display_car_container">
{% for imageCollection in car.ImageCollection.Values %}
<div class="container">
    <div class=" img-slide-custom rounded" style="background : url('{{ asset("car_uploads/") ~ imageCollection.ImageUrl }}')">
    </div>
</div>
{% endfor %}


  
{# 
    <a href="{{ path('app_car_index') }}">back to list</a>

<div class="container">
    <h2> {{car.brand.brand}} </h2>
    <h2> {{car.name}} </h2>
    <h3> {{car.yearPlacedInCirculation}} </h3>
</div>
<span class="separator"></span>

<div class="container">
    <div class="col-6">
        <p> {{car.price}} €</p>
        <p> {{car.mileage}} Km</p>
        <p> Mise en circulation pour la 1ère fois en : {{car.YearPlacedInCirculation}}</p>
    </div>
</div> #}
</div>

{% endblock %}

{# Permet d'activer ou non le formulaire dans le footer de la page #}
{# l'affichage du formulaire dépend si l'utilisateur se trouve sur
cette vue  #}
{% set displayPage = 1 %}
 {% block contact_form %}

        {% include "car_index/_car_contact_form.html.twig" %}
        <script>
        // Script permettant de rajouter le nom et la marque de 
        // la voiture sur le formulaire
        let contactTitle = document.querySelector("#contact_title")
        let carName = document.querySelector("#car-name")
        // console.log(carName)
        contactTitle.value = carName.innerText
        </script>

{% endblock %}
{% block script %}
<script>
// Récupère la première slide du carrousel et lui donne
// la propriété "active" sans quoi il ne fonctionnera pas 
let innerSlide = document.querySelector(".carousel-inner")

  innerSlide.firstElementChild.classList.add("active")
</script>
{% endblock %}
