{% extends '/back_office/base_back_office.html.twig' %}

{% block title %}Nouvelle Voiture{{car.id}}{% endblock %}

{% block body %}
<div class=" custom-car-new-wrapper col-9">
    <h1>Créer une nouvelle voiture</h1>
{% form_theme form 'bootstrap_5_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.brand) }}
        {{ form_row(form.category) }}
        {{ form_row(form.price) }}
        {{ form_row(form.yearPlacedInCirculation) }}
        {{ form_row(form.mileage) }}
        {{ form_row(form.description) }}
        <button type="button" class="btn btn-primary" id="new_image">Image +</button>
        {{ form_row(form.images_file_collection) }}
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}

    <a class="my-2 btn btn-dark" href="{{ path('back_office_app_car_index') }}">Retour</a>
</div>

<script>
    let newImage = document.querySelector('#new_image')
    // On récupère la div contenant l'attribut  data-prototype
    // puis le contenu de l'attribut 
    let ImageCollection = document.querySelector('#car_images_file_collection')
    let dataPrototypeString = ImageCollection.dataset.prototype
    
    newImage.addEventListener('click',addImage)

    //Nombre d'élément enfant du CollectionType
    let indexImg = ImageCollection.querySelectorAll('fieldset').length

    function addImage() {

        let container = document.createElement("div")
        container.classList.add("form-img-container")
        ImageCollection.append(container)

        //On remplace le name et id dans la chaine par l'indexImg 
        container.innerHTML += dataPrototypeString
        .replace(/__name__/g,indexImg)

        addTagFormDeleteBtn(container);
        indexImg++
}
   //On crée un bouton de suppression qu'on attache au container
    let addTagFormDeleteBtn = (item) => {

    let removeFormButton = document.createElement('button');
    removeFormButton.innerText = 'Delete this tag';
    removeFormButton.setAttribute("class","btn btn-danger")

    item.append(removeFormButton);

    removeFormButton.addEventListener('click', (e) => {
        e.preventDefault();
        // remove the li for the tag form
        item.remove();
    });
}


</script>
{% endblock %}



