{% extends '/back_office/base_back_office.html.twig' %}

{% block title %}Gestion des Horaires{% endblock %}

{% block body %}
<div class="col-9">
    <h1>Gestion des Horaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Message</th>
                <th>Note</th>
                <th>Vérification en attente</th>
                <th>Validés</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for testimonial in testimonials %}
            <tr>
                <td>{{ testimonial.name }}</td>
                <td>{{ testimonial.surname }}</td>
                <td><p>{{ testimonial.message }}</p></td>
                <td>{{ testimonial.note }}</td>
                <td>{{ testimonial.pendingVerification ? 'Oui' : 'Non' }}</td>
                <td>{{ testimonial.isValidated ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_testimonials_edit', {'id': testimonial.id}) }}">Modifier</a>
                    {{ include('back_office/testimonials/_validate_form.html.twig') }}                
                    {{ include('back_office/testimonials/_revoke_form.html.twig') }}                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de Donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
