{% extends '/back_office/base_back_office.html.twig' %}
{% block title %}Panneau Administration Admin{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %} 
<div class="col-9 my-5  ">
    <h1>User index</h1>

    <a class="btn btn-primary" href="{{ path('app_user_new') }}">Create new</a>
    <table class="table">
        <thead >
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endif %}
{% endblock %}

